<div class="container">
    <img [src]="'./assets/' + wrongLettersCount + '.jpg'" alt="Hangman">
    <p>{{ hiddenWord.join(' ') }}</p>
    <app-letters [selectedLetters]="selectedLetters"></app-letters>
    <app-api></app-api>
</div>


<div *ngIf="showLoseModal" class="modal">
    <div class="modal-content">
        <h2>Game Over!</h2>
        <p>The correct word was: {{ randomWord }}</p>
        <button (click)="playAgain()">Play Again</button>
    </div>
</div>

<div *ngIf="showWinModal" class="modal">
    <div class="modal-content">
        <h2>You Win!</h2>
        <button (click)="playAgain()">Play Again</button>
    </div>
</div>