* {
  font-family: "Poppins", sans-serif;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  background-color: #191919;
  padding: 50px 0;
}

app-root {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
